$theme-colors: (
  "success": #139382,
  "warning": #FFA446,
  "danger": #D54417
);


@import "../node_modules/bootstrap/scss/bootstrap";

// * Scroll behavior
html{
  scroll-behavior: smooth;
  background-color: #f3f3f3;
}
// * Scroll behavior

// * Loader: For smooth animation after loading
.animate {
  position: relative;
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 1s;
}

@-webkit-keyframes animate {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animate {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
// * Loader: For smooth animation after loading

// * On hover effects for admin edit products
.products{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.products:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.products h3{
  font-weight: 600;
}

.products img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(/bundles/img/addProducts.svg);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(/bundles/img/updateProduct.svg);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(/bundles/img/deleteProduct.svg);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .products{
    margin: 20px;
  }
} 
// * On hover effects for admin edit products  

// * On hover effects for category products
.productsCategory{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.productsCategory:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.productsCategory h3{
font-weight: 600;
}

.productsCategory img{
position: absolute;
top: 20px;
right: 15px;
max-height: 120px;
}

.card-1{
background-image: url(/bundles/img/addProducts.svg);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2{
 background-image: url(/bundles/img/updateProduct.svg);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
 background-image: url(/bundles/img/deleteProduct.svg);
    background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3{
  background-image: url(/bundles/img/deleteProduct.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-4{
  background-image: url(/bundles/img/undraw_address_udes.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-5{
  background-image: url(/bundles/img/undraw_art_museum_8or4.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-6{
  background-image: url(/bundles/img/undraw_elements_cipa.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-7{
  background-image: url(/bundles/img/undraw_healthy_options_sdo3.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-8{
  background-image: url(/bundles/img/undraw_heavy_box_agqi.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-9{
  background-image: url(/bundles/img/undraw_Map_light_3hjy.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-10{
  background-image: url(/bundles/img/undraw_online_ad_mg4t.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-11{
  background-image: url(/bundles/img/undraw_Ordinary_day_3gk3.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

 .card-12{
  background-image: url(/bundles/img/updateProduct.svg);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
 }

@media(max-width: 990px){
.productsCategory{
  margin: 20px;
}
} 
// * On hover effects for category products  
